<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title> Campaign Fragments </title>
</head>

<body>

<table class="forageSatchel" th:fragment="campaignList">
    <tr>
        <th> Campaign </th>
        <th> World </th>
    </tr>
    <tr th:each="campaign : ${campaigns}">
        <td>
            <a th:text="${campaign.moniker}" th:href="@{${'/campaign/' + campaign.id}}" />
        </td>
        <td th:text="${campaign.world}"></td>
    </tr>
</table>

<form autocomplete="off" th:fragment="createCampaignForm" class="createCampaignForm" action="/campaign/createCampaign" method="post">
    <label>
        <input type="text" name="campaignMoniker" required placeholder="Campaign Moniker">
        The first inn, adventuring party name, a notable antagonist, or a capital city
    </label>
    </br>

    <label>
        <input type="text" name="campaignWorld" required placeholder="Campaign World">
        The fantasy world your campaign takes place in
    </label>
    </br>

    <label>
        <input type="radio" name="isUserDM">
        Are you the DM?
    </label>
    </br>

    <button type="submit"> New Campaign </button>
</form>

</body>

</html>