<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table th:fragment="herbBag">
    <thead>
    <tr>
        <th>Herb Title</th>
        <th>Quantity</th>
    </tr>

    </thead>
<!--    TODO: Collect all herbs in herb bags into collection so it can be rendered-->
<!--    <tr th:each="herb : ${herbs}">-->
<!--        <td th:text="${herb.name}"/>-->
<!--        <td th:text="${herb.quantity}"/>-->
<!--    </tr>-->

</body>
</html>