<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table class="herbBag" th:fragment="herbBag">
    <tr>
        <th> Herb </th>
        <th> Quantity</th>
    </tr>
    <tr th:each="herb : ${herbs}">
        <td th:text="${herb.herbName}"></td>
        <td th:text="${herb.quantity}"></td>
    </tr>
    <tr>
        <th> Reagent </th>
        <th> Quantity </th>
    </tr>
    <tr th:each="reagent : ${reagents}">
        <td th:text="${reagent.reagentName}"></td>
        <td th:text="${reagent.quantity}"></td>
    </tr>
</table>

</body>
</html>