
#dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    outline: brown;
    width: 80%;
    margin: auto;
}

.dashboard-item{
    display: flex;
    border: 4px ridge gray;
    color: black;
    background-image: url("https://via.placeholder.com/300x250");
    margin: 2%;
    width: 43%;
    height: 250px;

    text-align: center;
}

.dashboard-item h3{
    background: black;
    opacity: 0.6;
    color: white;
    justify-content: flex-start;
    margin-left: -2.5%;
    margin-top: 125px;
    padding: 5px;
    width: 175px;
}