.recipeContainer{
outline: black 2px solid;
margin: 50px;
}

.recipeContainer h2{
font-size: 1.5em;
color: red;
border-bottom: 2px solid #666666ff

}
.recipeContainer h3{
font-size: 1.3em;
}

.recipeContainer h4{
font-size: 1.05;
  font-style: italic;
}

.recipeContainer div{
margin-bottom: 8px;
border-bottom: 2px solid #666666ff
}

.recipeContainer p{
}
