.herbBag {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin: auto;
}

.herbBag td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.herbBag tr:nth-child(even){background-color: #f2f2f2;}

.herbBag tr:hover {background-color: #ddd;}

.herbBag th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}