<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments :: stylesheets}">
    <meta charset="UTF-8">
    <title> Campaign </title>
</head>

<body>
    <nav th:replace="~{fragments :: navbar}"></nav>






</body>

</html>















<!--    <h1> My Campaigns</h1>-->
<!--    <button> Create Campaign </button>-->

<!--    <p> If you need help thinking of a good way to differentiate your campaigns try using the name of the first inn, or capital city </p>-->
<!--    <main>-->
<!--        <aside>-->
<!--            List of all campaigns, when clicked generates the other aside-->
<!--                <div>-->
<!--                    New Campaign-->
<!--                </div>-->
<!--                <div th:each="nativeCampaign : ${campaigns}"-->
<!--                        th:text="${nativeCampaign.name}"-->
<!--                        th:value="${nativeCampaign.id}">-->
<!--                </div>-->
<!--            </select>-->
<!--        </aside>-->

<!--        <aside>-->
<!--            A list of all characters inside of a nativeCampaign, organizable by importance, recent, or alphabetical-->
<!--            <div>-->
<!--                <form>-->
<!--                New Character-->
<!--                </form>-->
<!--            </div>-->

<!--            <div th:each="character : ${characters}"-->
<!--                 th:text="${character.name}"-->
<!--                 th:value="${character.id}">-->
<!--            </div>-->
<!--        </aside>-->
<!--    </main>-->
</body>

</html>