<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments :: stylesheets}">
    <meta charset="UTF-8">
    <title> Campaign </title>
</head>

<body>
    <nav th:replace="~{fragments :: navbar}"></nav>

    <section class="playerCharacterReferenceComponent">
        <h3> Player Character Reference </h3>
        <div>
            <img src="http://via.placeholder.com/150" alt="characterPortrait">
            <div class="playerCharacterDemographics">
                <span> Character </span>
                <span> Owner </span>
                <span> Race </span>
                <span> Class </span>
                <span> Alignment </span>
            </div>
            <div class="playerCharacterCombatStats">
                <span> Level </span>
                <span> Current HP </span>
                <span> Maximum HP </span>
                <span> AC </span>
            </div>

            <div class="playerCharacterNotes">
                <p> Notes.. </p>
            </div>
        </div>

        <button> Add Player Character </button>
    </section>

    <table th:replace="~{fragments/campaignFragments :: campaignList}"></table>

    <form  th:replace="~{fragments/campaignFragments :: createCampaignForm}"></form>

</body>

</html>















<!--    <h1> My Campaigns</h1>-->
<!--    <button> Create Campaign </button>-->

<!--    <p> If you need help thinking of a good way to differentiate your campaigns try using the name of the first inn, or capital city </p>-->
<!--    <main>-->
<!--        <aside>-->
<!--            List of all campaigns, when clicked generates the other aside-->
<!--                <div>-->
<!--                    New Campaign-->
<!--                </div>-->
<!--                <div th:each="campaign : ${campaigns}"-->
<!--                        th:text="${campaign.name}"-->
<!--                        th:value="${campaign.id}">-->
<!--                </div>-->
<!--            </select>-->
<!--        </aside>-->

<!--        <aside>-->
<!--            A list of all characters inside of a campaign, organizable by importance, recent, or alphabetical-->
<!--            <div>-->
<!--                <form>-->
<!--                New Character-->
<!--                </form>-->
<!--            </div>-->

<!--            <div th:each="character : ${characters}"-->
<!--                 th:text="${character.name}"-->
<!--                 th:value="${character.id}">-->
<!--            </div>-->
<!--        </aside>-->
<!--    </main>-->
</body>

</html>