<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments :: stylesheets}">

    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>

    <nav th:replace="~{fragments :: navbar}"></nav>
    <main id="dashboard">
        <button class="dashboard-item" >
           <h3>
               <a href="/inventory/herbology"> Herbology </a>
           </h3>
        </button>

        <button class="dashboard-item">
           <h3>
               <a href="/inventory/recipes"> Alchemy </a>
           </h3>
        </button>
    </main>



</body>
</html>