<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments :: stylesheets}">

    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>
    <nav th:replace="~{fragments :: navbar}"></nav>
    <h1> Welcome to your dashboard </h1>

    <main id="dashboard">
        <button class="dashboard-item">
            <h3> Dice </h3>
        </button>

        <button class="dashboard-item">
            <h3> Name Generator </h3>
        </button>

        <button class="dashboard-item" href="/dashboard/Herbology">
           <h3> Herbology </h3>
        </button>

        <button class="dashboard-item">
           <h3> Alchemy </h3>
        </button>

    <button class="dashboard-item">
        <h3> Dice </h3>
    </button>

    </main>
</body>
</html>