<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
</head>
<body>

<!--Stylesheets-->
<head th:fragment="stylesheets">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<!--Navigation Bar-->
<nav th:fragment="navbar" class="navbar">

    <div id="navBarItems">
        <h1 id="titleCard"> Namespace </h1>
        <a href="/dashboard"> Dashboard </a>
        <a href="/perform_logout"> Logout </a>
        <a href="/"> Placeholder </a>
        <a href="/"> Placeholder </a>
    </div>

    <div id="accountControls">
        <a href="/"> Account </a>
        <a href="/"> Placeholder </a>
    </div>
</nav>

</body>
</html>