<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
</head>
<body>

<!--Stylesheets-->
<head th:fragment="stylesheets">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<!--Navigation Bar-->
<nav th:fragment="navbar" class="navbar">
    <a href="/dashboard"> Dashboard </a>
    <a href="/perform_logout"> Logout </a>
    <a href="/dashboard/campaign"> Campaigns </a>
</nav>

</body>
</html>