<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: stylesheets}">

    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/navbar.css" rel="stylesheet">

</head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

    <h1>
        You have made it to the login page
    </h1>

    <div>
        <form class="form-input" action="/perform_login" method="POST">
            <input type="text" name="username" required placeholder="Username"> </input>
            <input type="password" name="password" required placeholder="Password"> </input>
            <button type="submit" name="submit"> Login </button>
        </form>
        <label> Don't have an account? <a class="a-as-button" href="/signup"> Join us! </a></label>

    </div>

</body>
</html>