<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: stylesheets}">
    <meta charset="UTF-8">
    <title> Join Us! </title>
</head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<h1> Sign Up </h1>

<p th:if="${errored}"> Something went wrong, try again </p>
<p th:text="${errored}" >  </p>
    <div>
        <form class="form-input" action="/signup" method="post">
            <input type="text" name="username" required placeholder="Username"> </input>
            <input type="password" name="password" required placeholder="Password"> </input>
            <button type="submit" name="submit"> Start Journaling</button>
        </form>
    </div>

</body>
</html>