<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments :: stylesheets}">

    <meta charset="UTF-8">
    <title> Single Campaign </title>
</head>

<body>
    <nav th:replace="~{fragments :: navbar}"></nav>

    <form autocomplete="off" class="updateCampaign" th:action="@{/campaign/} + ${campaign.id}" method="put">
        <input type="text" th:value="${campaign.moniker}" name="campaignMoniker" required placeholder="Campaign Moniker" />
        <input type="text" th:value="${campaign.world}" name="campaignWorld" required placeholder="Campaign World" />
        <span th:text="${campaign.dungeonMaster}"/>
        <button type="submit"> Update Campaign </button>
    </form>

    <form autocomplete="off" class="addCharacterForm" action="/campaign/newCharacter" method="post">
        <h5> New Character </h5>
        </br>
        <label>
            Name
            <input type="text" name="characterName" required placeholder="Name">
        </label>
        <label>
            Description
            <input type="text" name="characterDescription" required placeholder="Description">
        </label>
        <label>
            Location
            <input type="text" name="characterLocation" required placeholder="Location">
        </label>
        <label>
            Speech Patterns
            <input type="text" name="characterSpeech" required placeholder="Speech Patterns">
        </label>
        <label>
            Is Character an NPC?
            <input type="checkbox" name="characterIsNPC">
        </label>
        <button type="submit"> Create. </button>
    </form>

<!-- TODO: This grabs every player by name, give players and campaigns the option to not be selected in this process, ie. set account/campaign to private    -->
<select>
    <option th:each="user : ${allUsers}" th:value="${user.username}" th:text="${user.username}"/>
</select>



</body>

</html>